<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    <title>UPchieve Admin | Questions</title>

    <style type="text/css" media="screen">
      label {
        display: block;
        font-weight: bold;
      }
      .question-form {
        border-width: .2rem;
        border: solid #f7f7f9;
        margin: 2.5rem 0;
        padding: 1.5rem;
      }
    </style>
</head>

<body class="container">
    <h1>Questions</h1>

    <div>
        <% questions.forEach(question => { %>
        <form class="question-form">
            <div class="form-group">
              <label for="question_text">Question text</label>
              <textarea cols="60" id="" name="question_text" class="form-control"><%= question.questionText %></textarea>
            </div>

            <div class="form-group">
                <% if (question.image) { %>
                    <img src="/static/question_images/<%= question.image %>"/>
                <% } %>
                <label for="question_text">Image file</label>
                <input name="question_text" type="text" value="<%= question.image %>" class="form-control" />
            </div>

            <div class="form-group">
              <label for="answer-choices">Answer choices</label>
              <% question.possibleAnswers.forEach(({txt, val}) => { %>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><%= val %></span>
                  </div>
                  <input name="answer[<%= val %>][]" type="text" value="<%= txt %>" class="form-control" />
                </div>
              <% }) %>
            </div>

            <div class="form-group">
              <label for="correct-answer">Correct Answer</label>
              <input name="correct-answer" type="text" value="<%= question.correctAnswer %>" class="form-control" />
            </div>

            <div class="form-group">
              <label for="category">Category</label>
              <input name="category" type="text" value="<%= question.category %>" class="form-control" />
            </div>

            <div class="form-group">
              <label for="subcategory">Subcategory</label>
              <input name="subcategory" type="text" value="<%= question.subcategory %>" class="form-control"/>
            </div>
        </form>
        <% }) %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
